body{
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}

.img_logo{
	width: 293px;
	height: 95px;
	margin: 26px 0 0 50px;
	float: left;
}

ul{
	float: right;
	margin: 55px;
}

li{
	list-style: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 16px;
	padding-top: 60px;
}

a{
	text-decoration: none;
	color: black;
	margin: 0 20px;
}

.header{
	background-color: white;
	height: 150px;
}

.a-header{
	color: #24a0ed;
}

.a-header:hover{
	text-decoration: none;
}

#dropdownMenuLink{
	background-color: transparent;
	color: #24a0ed;
	border: 0px;
}

#dropdownMenuLink:hover{
	border: 0px solid white;
}

.dropdown-item{
	margin: 0;
}

/*----------------------------Content1----------------------------*/

.flex-content1{
	display: flex;
	margin-left: 70px;
}

.form-saran{
	background-color: #f2f6ff;
	width: 380px;
	height: 650px;
	padding: 30px;
	margin: 8px 50px 100px 0;
	font-family: sans-serif;
}

.input-data{
	margin: 10px;
	width: 93%;
	border: 1px solid #d1d1d1;
	height: 50px;
}

.input-text-area{
	margin: 10px;
	width: 93%;
	border: 1px solid #d1d1d1;
	height: 100px;
}

.input-data::-webkit-input-placeholder{
	color: #c7c7c7;
	padding: 10px;
}

.input-text-area::-webkit-input-placeholder{
	color: #c7c7c7;
	padding: 10px;
}

.btn-send{
    background-color: transparent;
    border: 2px solid blue;
    color: blue;
    padding: 8px;
    display: block;/*menjadikan elemen tipe blok*/
    width: 155px;
    text-align: center;
    margin: 10px auto 50px auto;
    text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

.btn-send:hover{
    background-color: blue;
    transition-property: all;/*ms edge*/
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.form-saran hr{
	width: 310px;
	border: 3px solid yellow;
	margin: 20px auto 10px auto;
}

/*--------------------------------Info--------------------------------*/

.block-content2{
	display: block;
}

.flex-content2{
	display: flex;
	margin-bottom: 0px;
	margin-top: 80px;
}

.content2-location{
	width: 250px;
	height: 250px;
	border: solid 2px blue;
	margin-top: 10px;
	margin-left: 0px;
	background-color: #99a1ff;
	align-content: left;
}

.content2-working-hours{
	width: 250px;
	height: 250px;
	border-top: solid 2px blue;
	border-bottom: solid 2px blue;
	margin-top: 10px;
	background-color: #99a1ff;
	align-content: center;
}

.content2-contact-us{
	width: 250px;
	height: 250px;
	border: solid 2px blue;
	margin-top: 10px;
	background-color: #99a1ff;
	align-content: right;
}

.bag-location{
	text-align: center;
}

.bag-working-hours{
	text-align: center;
}

.bag-contact-us{
	text-align: center;
}

.img-location{
	width: 50px;
	height: 50px;
	margin: 25px;
}

.img-working-hours{
	width: 50px;
	height: 50px;
	margin: 25px;
}

.img-contact-us{
	width: 50px;
	height: 50px;
	margin: 25px;
}

.p-jlocation{
	font-family: sans-serif;
	font-size: 24px;
}

.p-jworking-hours{
	font-family: sans-serif;
	font-size: 24px;
}

.p-jcontact-us{
	font-family: sans-serif;
	font-size: 24px;
}

.p-location{
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px 30px 10px 30px;
}

.p-working-hours{
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px 30px 10px 30px;
}

.p-contact-us{
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px 30px 10px 30px;
}

.logo-rh{
	margin-top: 50px;
	margin-left: 170px;
	width: 400px;
	height: 200px;
}

/*-----------------------------Footer-----------------------------*/

.contact-footer{
	background-color: #000473;
	color: white;
	font-family: sans-serif;
}

.flex-footer{
	display: flex;
}

.logo-footer{
	padding-top: 100px;
	margin: 0px 80px 80px 80px;
}

.contact-info{
	margin-top: 100px;
	width: 400px;
	background-color: #000473;
	height: 300px;
}

.h4-contact-info{
	margin-left: 23px;
}

.contact-info ul{
	margin: 0;
	padding: 0;
}

.li-loc{
	margin: 0;
	padding: 20px 0 0 0;
}

.li-call{
	margin: 0px;
	padding: 20px 0 0 0;
}

.li-email{
	margin: 0px;
	padding: 20px 0 0 0;
}

.li-whatsapp{
	margin: 0px;
	padding: 20px 0 0 0;
}

.icon-loc{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 14px;
}

.a-loc{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-loc:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-call{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 3px;
}

.a-call{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-call:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-email{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 1px;
}

.a-email{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-email:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-whatsapp{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 1px;
}

.a-whatsapp{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-whatsapp:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.services-kami{
	margin: 100px 0px 10px 0px;
	background-color: #000473;
	width: 400px;
	height: 300px;
}

.h4-services-kami{
	margin-left: 23px;
}

.services-kami ul{
	margin: 0;
	padding: 0;
}

.li-JTD{
	margin: 0px;
	padding: 20px 0 0 0;
}


.li-SS{
	margin: 0px;
	padding: 20px 0 0 0;
}

.icon-right-arrow{
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-top: 3px;
}

.a-JTD{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-JTD:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.a-SS{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-SS:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.copyright hr{
	border: 0.5px solid grey;
}

.copyright p{
	font-family: sans-serif;
	margin: 0px 0px 0px 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}