body{
	margin: 0 auto;
	background-image: url('../img/tk-bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.img_logo{
	width: 293px;
	height: 95px;
	margin: 26px 0 0 50px;
	float: left;
}

ul{
	float: right;
	margin: 55px;
}

li{
	list-style: none;
	display: inline-block;
	font-family: sans-serif;
	font-size: 16px;
	padding-top: 60px;
}

a{
	text-decoration: none;
	color: black;
	margin: 0 20px;
}


.header{
	background-color: white;
	height: 150px;
}

.a-header{
	color: #24a0ed;
}

.a-header:hover{
	text-decoration: none;
}

#dropdownMenuLink{
	background-color: transparent;
	color: #24a0ed;
	border: 0px;
}

#dropdownMenuLink:hover{
	border: 0px solid white;
}

.dropdown-item{
	margin: 0;
}

.mrh-trans-content1{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}

/*---------------------------Content2---------------------------*/

.mrh-trans-content2{
	margin: 100px auto 100px auto;
	font-family: sans-serif;
	font-weight: bold;
	width: 500px;
}

.mrh-trans-content2 h1{
	font-family: sans-serif;
	font-size: 48px;
	font-weight: bold;
}

.mrh-trans-content2 hr{
	width: 80px;
	border: 2px solid yellow;
	margin-left: 200px;
	margin-bottom: 30px;
}

.judul-jtd{
	font-style: italic;
	margin: 15px 0 15px 10px;
}

.isi-jtd{
	text-align: justify;
	width: 400px;
	margin: 0 auto 0  auto;
	line-height: 2;
}

.mrh-trans-content2-isi{
	margin: 100px auto 100px auto;
	font-family: sans-serif;
	font-weight: bold;
	width: 800px;
	text-align: justify;
	line-height: 2;
}

.mrh-trans-content2-isi p{
	margin-top: 30px;
}

.p-mrh-trans-content2-last{
	margin-bottom: 50px;
}

/*-----------------------------Info-----------------------------*/

.flex-info{
	display: flex;
}

.content2-bb{
	width: 300px;
	height: 460px;
	border: solid 2px blue;
	margin-top: 10px;
	margin-left: 60px;
	background-color: #99a1ff;
}

.content2-bt{
	width: 300px;
	height: 460px;
	border-top: solid 2px blue;
	border-bottom: solid 2px blue;
	margin-top: 10px;
	background-color: #99a1ff;
}

.content2-mb{
	width: 300px;
	height: 460px;
	border: solid 2px blue;
	margin-top: 10px;
	background-color: #99a1ff;
}

.content2-elf{
	width: 300px;
	height: 460px;
	border: solid 2px blue;
	margin-top: 10px;
	background-color: #99a1ff;
	border-left: 0px solid blue;
}

.bag-content2{
	text-align: center;
}

.img-icon-bus{
	width: 50px;
	height: 50px;
	margin: 25px;
}

.p-content2{
	font-family: sans-serif;
	font-size: 24px;
}

.icon-checkmark{
	width: 18px;
	height: 18px;
	padding-right: 2px;
	padding-top: 5px;
}

.li-content2{
	display: flex;
	padding-top: 10px;
}

.li-content2:hover{
	transition-duration: 0.5s;
	color: red;
}

.p-content2-isi{
	width: 200px;
}

/*-----------------------------Footer-----------------------------*/

.contact-footer{
	background-color: #000473;
	color: white;
	font-family: sans-serif;
	margin-top: 100px;
}

.flex-footer{
	display: flex;
}

.logo-footer{
	padding-top: 100px;
	margin: 0px 80px 80px 80px;
}

.contact-info{
	margin-top: 100px;
	width: 400px;
	background-color: #000473;
	height: 300px;
}

.h4-contact-info{
	margin-left: 23px;
}

.contact-info ul{
	margin: 0;
	padding: 0;
}

.li-loc{
	margin: 0;
	padding: 20px 0 0 0;
}

.li-call{
	margin: 0px;
	padding: 20px 0 0 0;
}

.li-email{
	margin: 0px;
	padding: 20px 0 0 0;
}

.li-whatsapp{
	margin: 0px;
	padding: 20px 0 0 0;
}

.icon-loc{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 14px;
}

.a-loc{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-loc:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-call{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 3px;
}

.a-call{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-call:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-email{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 1px;
}

.a-email{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-email:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.icon-whatsapp{
	width: 22px;
	height: 22px;
	margin-right: 10px;
	margin-top: 1px;
}

.a-whatsapp{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-whatsapp:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.services-kami{
	margin: 100px 0px 10px 0px;
	background-color: #000473;
	width: 400px;
	height: 300px;
}

.h4-services-kami{
	margin-left: 23px;
}

.services-kami ul{
	margin: 0;
	padding: 0;
}

.li-JTD{
	margin: 0px;
	padding: 20px 0 0 0;
}


.li-SS{
	margin: 0px;
	padding: 20px 0 0 0;
}

.icon-right-arrow{
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-top: 3px;
}

.a-JTD{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-JTD:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.a-SS{
	text-decoration: none;
	color: white;
	display: flex;
}

.a-SS:hover{
	text-decoration: none;
	transition-duration: 0.5s;
	color: red;
}

.copyright hr{
	border: 0.5px solid grey;
}

.copyright p{
	font-family: sans-serif;
	margin: 0px 0px 0px 80px;
	padding-top: 30px;
	padding-bottom: 30px;
}